[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "plugin/math-katex"]
	path = plugin/math-katex
	url = git@github.com:tscholak/reveal.js-math-katex-plugin.git
